@media only screen and (max-width: 600px) {
    body{
        margin: 0px;
        padding: 0px;
    }

    .topo{
        width: 100%;
        height: 220px;
        border: 0px solid black;
        background:red;
        margin-top: 0%;
    }

    .topo-conteudo{
        margin: 0 auto;
        width: 75%;
        height: auto;
        border: 0px solid black;
        background:red;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 0%;
    }

    .img-home{
        height:200px;
        width:100%;
    }

    .conteudo-home{
        width: 100%;
        height: auto;
        min-height: 100%;
        overflow: hidden;
        border: 0px solid red;
    }

    .conteudo-descricao{
        width: 90%;
        height: auto;
        margin: auto;
        min-height: 100%;
        overflow: hidden;
        border: 0px solid red;
    }

    .box-produto{
        width: 100%;
        height: 400px;
        border: 1px solid #f1f2f7;
        float: left;
        margin-right: 1%;
        margin-bottom: 4%;
    }

    .box-produto p{
        font-size: 14px;
    }

    .box-produto a:hover{
        text-decoration: none;
        color: red;
    }

    .box-produto-img{
        width: 100%;
        height: 180px;
        border: 0px solid beige;
    }
    .box-produto-descricao{
        width: 100%;
        height: 170px;
        border: 1px solid beige;
        padding: 4%;
        text-align: left;
    }

    .box-produto-comprar{
        width: 100%;
        height: auto;
        background: red;
        padding: 3%;
        text-align: center;
        color: white;
    }

    .box-categoria{
        width: 100%;
        height: 250px;
        border: 1px solid black;
        float: left;
        margin-right: 2%;
        margin-bottom: 4%;
    }
    .box-categoria:hover{
        border: 0px solid black;
    }
}

@media only screen and (min-width: 600px) {
    body{
        margin: 0px;
        padding: 0px;
    }

    .topo{
        width: 100%;
        height: 60px;
        border: 0px solid black;
        background:red;
        margin-top: 0%;
    }



    .topo-conteudo{
        margin: 0 auto;
        width: 95%;
        height: auto;
        border: 0px solid black;
        background:red;
        padding-top: 0%;
        padding-bottom: 0%;
        margin-top: 0%;
    }



    .img-home{
        height:200px;
        width:50%;
    }

    .conteudo-home{
        width: 100%;
        height: auto;
        min-height: 100%;
        overflow: hidden;
        border: 0px solid yellow;
    }

    .conteudo-descricao{
        width: 95%;
        height: auto;
        margin: auto;
        min-height: 100%;
        overflow: hidden;
        border: 0px solid red;
    }

    .box-produto-home{
        width: 19.5%;
        height: 380px;
        border: 1px solid #f1f2f7;
        float: left;
        margin-left:0.5%;
        margin-bottom: 4%;
    }

    .box-produto-home p{
        font-size: 14px;
    }

    .box-produto-home a:hover{
        text-decoration: none;
        color: red;
    }

    .box-produto-home:hover{
        border: 1px solid #428bca;
    }

    .box-produto-img{
        width: 100%;
        height: 200px;
        border: 0px solid black;
    }

    .box-produto-img-detalhes{
        width: 50%;
        height: 200px;
        border: 0px solid beige;
    }

    .box-produto-descricao{
        width: 100%;
        height: 170px;
        border: 0px solid black;
        padding: 4%;
        text-align: left;
    }

    .box-produto-comprar{
        width: 100%;
        height: auto;
        background: #f1f2f7;
        border: 0px solid black;
        padding: 2%;
        text-align: center;
        color: white;
    }
    .box-produto-comprar:hover{
        background: #bf1c57;
        font-weight: bold;
    }

    .img-box-categoria{
        border-radius: 1%;
    }

    .box-categoria{
        width: 19%;
        height: 300px;
        border: 0px solid black;
        float: left;
        margin-right: 1%;
        margin-bottom: 4%;
    }
    .box-categoria a{
        color: gray;
    }

    .box-categoria:hover{
        border: 0px solid black;
        color: black;
    }

    .img-promocao{
        border-radius: 1%;
    }

    .box-promocao{
        width: 23%;
        height: 300px;
        border: 0px solid black;
        float: left;
        margin-right: 2%;
        margin-bottom: 4%;
        border-radius: 4%;
    }
    .box-promocao a{
        border: 0px solid #428bca;
        color: white;
    }

    .box-promocao a:hover{
        border: 0px solid #428bca;
        color: gray;
    }

    .produto-detalhes-conteudo{
        width: 100%;
        height: 100px;
        border: 0px solid #428bca;
    }
    .produto-detalhes-conteudo-esq{
        width: 48%;
        height: 50px;
        float: left;
        border: 0px solid #428bca;
        text-align: left;
    }
    .produto-detalhes-conteudo-dir{
        width: 48%;
        height: 50px;
        float: right;
        border: 0px solid #428bca;
        text-align: left;
    }
    .editar-perfil{
        width: 100%;
        height: auto;
        background: #d5d5d5;
        padding: 1%;
        text-align: center;
    }

    .editar-perfil{
        width: 100%;
        height: auto;
        background: #d5d5d5;
        padding: 1%;
        text-align: center;
    }
    .destaque-produtos{
        width: 100%;
        height: auto;
        min-height: 100%;
        overflow: hidden;
        /*background: #f1f2f7;*/
        border: 0px solid #428bca;
    }

    .destaque-produtos-esq{
        width: 68%;
        height: auto;
        /*background: #f1f2f7;*/
        padding: 1%;
        float: left;
        text-align: left;
        border: 0px solid #428bca;
    }

    .destaque-produtos-dir{
        width: 28%;
        height: auto;
        /*background: #f1f2f7;*/
        padding: 1%;
        float: right;
        text-align: right;
        border: 0px solid #428bca;
    }
    .menu-produtos a{
        color: gray;
        text-decoration: none;
    }

    .menu-produtos a > h6{
        color: gray;
        font-size: 14px;
    }
    .menu-produtos a > h6:hover{
        color: red;
    }

    .box-contador{
        padding: 6%;
        height: 120px;
        border: 1px solid #F8F8F8;
        border-radius: 0px;
        background: #c8c8c8;
    }
    .box-contador > h1{
        color:white; 
    }
    .box-contador > p{
        color:red; 
    }

    .ui-carousel
    .ui-carousel-header
    .ui-carousel-header-title
    .ui-carousel-page-links
    .ui-carousel-page-link
    .ui-carousel-item{
        border: none !important;
        padding: 0px;
        margin: 0px;
        background: white;
    }

    /* ============================= menu idex ============================= */
    /*    .ui-steps .ui-steps-item {
            width: 25%;
        }
    
        .ui-state-highlight {
            text-shadow: none !important;
        }
    
        .ui-steps.custom {
            margin-bottom: 30px;
        }
    
        .ui-steps.custom .ui-steps-item .ui-menuitem-link {
            height: 10px;
            padding: 0 1em;
            overflow: visible;
            border: 0px solid #c8c8c8;
            display: block;
            background-color: #FFFFFF;
        }
    
        .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-number {
            background-color: #FF5722;
            color: #FFFFFF;
            display: inline-block;
            width: 30px;
            border-radius: 10px;
            margin-top: -10px;
            margin-bottom: 10px;
            position: relative;
            top: -3px;
        }
    
        .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-title {
            margin-top: -6px;
        }
    
        body .ui-steps.custom .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-title {
            color: #555;
        }*/
}

/*a:link {
    color: gray;
}

 visited link 
a:visited {
    color: green;
}

 mouse over link 
a:hover {
    color: red;
}

 selected link 
a:active {
    color: yellow;
}*/